/**
* @author  Patrik Lamberger
* @website http://patriklamberger.se
**/

.ptagg {
    text-decoration: underline;
}

.css3column {
    -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;
    margin: 0 0 2em 0;
}